
.btn-primary.btn {
  border: 1px solid #ff5a5f;
  border-radius: 2px;
  font-weight: bold;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 25px 10px 25px;
}
input{
	width:100%;
}
h2{
	font-weight: bold;
}
h4{
	font-weight: normal;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
.search-dropdown{
	background-color: white;
	position: absolute !important;
	z-index: 1000;
	border:1px solid #dce0e0;
	max-width: 357px;
	width: 100%;
}
img{
	width: 100%
}
.section-container{
	position: absolute !important;
 	top:40;
 	z-index: -5;
}
checkbox{
	position: relative;
	height: 1.25em;
	width: :1.25em;
	margin-bottom: -0.25em;
	margin-right: 5px;
	vertical-align: top;
}
.menu-item{
	padding: :12px 0;
	border-bottom:  1px solid #dce0e0;
	cursor: pointer;
}