
.btn-primary.btn {
  border: 1px solid #ff5a5f;
  border-radius: 2px;
  font-weight: bold;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 25px 10px 25px;
}
input{
	width:100%;
}
h2{
	font-weight: bold;
}
h4{
	font-weight: normal;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
.search-dropdown{
	background-color: black;
}
img{
	width: 100%
}
