
.btn-primary.btn {
  border: 1px solid #ff5a5f;
  border-radius: 2px;
  font-weight: bold;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 25px 10px 25px;
}
input{
	width:100%;
}
h2{
	font-weight: bold;
}
h4{
	font-weight: normal;
}
.searchbar{
	position: absolute;
	top:40;
	z-index: -5;
}
.search-dropdown{
	background-color: black;
}
